// Colors
$white: #ffffff;

// Palette
$primary: #fbfbfb;
$brandcolor1: #0001fe;
$brandcolor2: #35E2DF;

// Budapest
$bp-white: #fbfbfb;
$bp-black: #171616;
$bp-gray: #232323;
$bp-cyan: #35e2df;
$bp-magenta: #EC008B;
