@import '../../stylesheets/variables';

.block{
    background-color: white;
    color: black;
    padding: 10px 0;
}

.picture {
    position: relative;
    top: 0;
    width: 100%;
}

.pictureVol {
    position: relative;
    top: 0;
    height: 196px;
}


// .button{
//     border: 2px solid;
//     border-color: $bp-cyan;
//     color: $bp-cyan !important;
//     padding: 5px;
//     font-weight: 600;
//     margin-top: 10px; 
//     position: relative;

    
//   }

//   .button:before  {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 4px;
//     left: 4px;
//     right: 4px;
//     bottom: 4px;
//   }

.button {
    padding: 20px 40px;
    position: relative;
    margin: 0 auto;
  }
  .button:after {
    border: 2px solid $bp-cyan;
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: -3px;
    bottom: -3px;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .button:hover:after {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, $bp-magenta 0%, $bp-cyan 100%);
    border-image-slice: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
  }

  .button:before {
    border: 2px solid $bp-magenta;
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    right: 3px;
    bottom: 3px;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .button:hover:before {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, $bp-magenta 0%, $bp-cyan 100%);
    border-image-slice: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
  }


  .button:hover{
    color: black !important;
  }

  @media (max-width: 1023.98px) {
    .column:first-child {
        margin-bottom: 15px;
    }
   }
