@import '../../stylesheets/variables';

.welcomeImage {
  // max-width: 30%;
  // max-width: 100%;
  width: 220px;
  // height: auto;
  // display: block;
}

.welcome {
  text-align: center;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.videoOverlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -90;
}

.blockContentVideo > div {
  // position: fixed;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  overflow: hidden;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .videoContainer {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoContainer {
    width: 300%;
    left: -100%;
  }
}

// @media (max-width: 767px) {
//   .blockContentVideo {
//     background: red center center / cover no-repeat;
//   }

//   .videoContainer {
//     display: none;
//   }
// }

.linkRow{
  margin-top: 40px;
}


.h1Stuff {
  line-height: 1.2;
  max-width: 100%;
  text-align: center;
}

.h1Accent {
  color: $bp-cyan;
}

.content2header {
  font-size: larger;
  text-align: center;
}

.countdown {
  color: $bp-cyan;
  span {
    color: $bp-white;
    text-overflow: clip;
    @media only screen and (max-width: 500px) {
      font-size: 14px;
    }
  }
}

.separator {
  margin-bottom: 40px;
}

h3 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 200%;
  line-height: 1.1;
}

.h3Differ {
  font-weight: bolder;
}

.textColumn {
  padding-top: 5px;
  padding-bottom: 10px;
}

hr {
  display: none;
}
